.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: "Inter";
  min-width: 98vw;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

#about,
#projects,
#contacts {
  scroll-margin-top: 300px;
}
