/* hero.css */

/* Основная секция */
.hero {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../images/herobg.jpg") center center / cover no-repeat;
  width: 100%;
  height: 39rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Контент героя */
.hero-info {
  padding: 40px 20px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

/* Центрирование подзаголовка */
.hero-subtitle {
  max-width: 600px;
  margin: 0 auto;
}

/* Мобильные адаптации */
@media (max-width: 768px) {
  .hero {
    background-attachment: scroll;
    background-position: center top;
    height: 44rem;
  }

  .hero-info {
    padding: 60px 20px;
    gap: 15px;
  }
}
