@font-face {
  font-family: "Inter";
  src:
    url("../fonts/Inter/Inter24pt-Bold.woff2") format("woff2"),
    url("../fonts/Inter/Inter24pt-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    url("../fonts/Inter/Inter28pt-Regular.woff2") format("woff2"),
    url("../fonts/Inter/Inter28pt-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    url("../fonts/Inter/Inter24pt-Medium.woff2") format("woff2"),
    url("../fonts/Inter/Inter24pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
